### Simple Function Creation

In [1]:
def calc_area():
    length = 5
    area = length * length
    print(f"Area of Square is {area} sq.km")

In [2]:
calc_area()

Area of Square is 25 sq.km

### Function Creation With Parameters

In [3]:
def calc_area(length):
    area = length * length
    print(f"Area of Square is {area} sq.km")

In [4]:
calc_area(4)

Area of Square is 16 sq.km

In [5]:
calc_area(6)

Area of Square is 36 sq.km

In [6]:
l = int(input("Enter Length: ")) # l will act as argument for function
calc_area(l)

Enter Length: 7
Area of Square is 49 sq.km

### Function Creation With i.e: Default Parameters

In [9]:
def calc_area(length= 3):
    area = length * length
    print(f"Area of Square is {area} sq.km with length {length}")

In [10]:
calc_area()

Area of Square is 9 sq.km with length 3

### Function Creation With More Than One Parameters

In [13]:
def calc_area(length, breadth, height):
    area_of_square = length * length
    volume = length * breadth * height
    print(f"Area of Square is {area_of_square} sq.km with length {length}")
    print(f"Area of Square is {volume} sq.km")

In [14]:
calc_area(5, 6, 7)

Area of Square is 25 sq.km with length 5
Area of Square is 210 sq.km

In [17]:
def calc_area(length, breadth= 4, height= 5):
    area_of_square = length * length
    volume = length * breadth * height
    print(f"Area of Square is {area_of_square} sq.km with length {length}")
    print(f"Area of Square is {volume} sq.km")

In [18]:
calc_area(5, 6)

Area of Square is 25 sq.km with length 5
Area of Square is 150 sq.km

In [20]:
# NOTE: default values should be at the end of the functions parameters
#def calc_area(length, breadth= 4, height)
def calc_area(length, breadth, height= 5):
    area_of_square = length * length
    volume = length * breadth * height
    print(f"Area of Square is {area_of_square} sq.km with length {length}")
    print(f"Area of Square is {volume} sq.km")

### Function Creation With More Than One Parameters with Positional Arguments

In [21]:
def calc_area(length, breadth, height= 4):
    area_of_square = length * length
    volume = length * breadth * height
    print(f"Area of Square is {area_of_square} sq.km with length {length}")
    print(f"Area of Square is {volume} sq.km")

In [22]:
l = int(input("Enter Length: "))
b = int(input("Enter Breadth: "))
h = int(input("Enter Height: "))

calc_area(l, b, h)

Enter Length: 3
Enter Breadth: 4
Enter Height: 5
Area of Square is 9 sq.km with length 3
Area of Square is 60 sq.km

In [23]:
l = int(input("Enter Length: "))
b = int(input("Enter Breadth: "))
h = int(input("Enter Height: "))

calc_area(b, h, l) # ERROR & Wrong values insertion

Enter Length: 3
Enter Breadth: 4
Enter Height: 5
Area of Square is 16 sq.km with length 4
Area of Square is 60 sq.km

In [24]:
l = int(input("Enter Length: "))
b = int(input("Enter Breadth: "))
h = int(input("Enter Height: "))

calc_area(breadth=b, height=h, length=l)

Enter Length: 3
Enter Breadth: 4
Enter Height: 5
Area of Square is 9 sq.km with length 3
Area of Square is 60 sq.km

### Function Creation Return Keywords

In [25]:
def calc_area(length, breadth, height= 4):
    area_of_square = length * length
    volume = length * breadth * height
#    print(f"Area of Square is {area_of_square} sq.km with length {length}")
#    print(f"Area of Square is {volume} sq.km")
    return area_of_square, volume

In [26]:
l = int(input("Enter Length: "))
b = int(input("Enter Breadth: "))
h = int(input("Enter Height: "))

calc_area(breadth=b, height=h, length=l)

Enter Length: 3
Enter Breadth: 4
Enter Height: 5

(9, 60)

In [27]:
l = int(input("Enter Length: "))
b = int(input("Enter Breadth: "))
h = int(input("Enter Height: "))

area, volume = calc_area(breadth=b, height=h, length=l)

Enter Length: 3
Enter Breadth: 4
Enter Height: 5

In [28]:
area

9

In [29]:
volume

60

# area ()
length = int(input("Enter Length: "))
area = length * length

# volume ()
breadth = int(input("Enter Breadth: "))
height = int(input("Enter Height: "))
vol = length * breadth * height

# circumference ()
pi = 22 / 7
radius = int(input("Enter Radius: "))
cir = pi * radius^2

# main.py()

area ()
volume ()
circumference ()

Task:
    1- Create a Function without Parameter that provide Full Name
    2- Introduce Parameters in that function
    3- Set "middle name" of a person as default parameter
    4- Introduce the 'return' keyword in the function definition
    5- Validate the concept of positional arguments
    6- Function Within Functions
    7- kwargs using **
    8- args with *

In [34]:
# 1
def full_name():
    first_name = input("Enter Your First Name: ")
    middle_name = input("Enter Your Middle Name: ")
    last_name =  input("Enter Your Last Name: ")
    print(f"Your Full Name is {first_name} {middle_name} {last_name}")

In [35]:
full_name()

Enter Your First Name: Muhammad
Enter Your Middle Name: Qasim
Enter Your Last Name: Iqbal
Your Full Name is Muhammad Qasim Iqbal

In [41]:
# 2
def full_name(first_name, middle_name, last_name):
    full_name_of_person = first_name + " " + middle_name + " " + last_name
    print(f"Your Full Name is {full_name_of_person}")

In [42]:
full_name("Muhammad", "Qasim", "Iqbal")

Your Full Name is Muhammad Qasim Iqbal

In [43]:
# 3
def full_name(first_name, last_name, middle_name= "Ul"):
    full_name_of_person = first_name + " " + middle_name + " " + last_name
    print(f"Your Full Name is {full_name_of_person}")

In [44]:
full_name("Muhammad", "Qasim")

Your Full Name is Muhammad Ul Qasim

In [48]:
# 4
def full_name(first_name, last_name, middle_name= "Ul"):
    full_name_of_person = first_name + " " + middle_name + " " + last_name
    return full_name_of_person

In [49]:
full_name("Muhammad", "Qasim")

'Muhammad Ul Qasim'

In [50]:
full_name(last_name="Iqbal", middle_name= "Qasim", first_name= "Muhammad")

'Muhammad Qasim Iqbal'

In [59]:
# We have created Function Within Function

def calculation(num1, num2):
    def add(num1, num2):
        return num1 + num2
    
    def sub(num1,num2):
        return num1 - num2
    
    print(add(num1, num2))
    print(sub(num1, num2))

In [60]:
calculation(5, 3)

8
2

### Working with Flexible Number of Arguments

In [61]:
def add(num1, num2):
        return num1 + num2
    
def sub(num1,num2):
        return num1 - num2

def calculation(num1, num2):
    print(add(num1, num2))
    print(sub(num1, num2))

In [62]:
calculation(5, 4)

9
1

### Working with Flexible Number of Arguments with *

In [63]:
def add(num1, *nums):
    print(num1)
    print(nums)

In [64]:
add(3,4,5,6)

3
(4, 5, 6)

In [65]:
def add(num1, num2, *nums):
    print(num1)
    print(num2)
    print(nums)

In [66]:
add(3,4,5,6)

3
4
(5, 6)

In [67]:
def add(num1, num2, *nums):
    print(num1)
    print(num2)
    print(*nums)

In [68]:
add(3,4,5,6)

3
4
5 6

In [89]:
def add(num1, num2, *nums):
    print(num1)
    print(num2)
    print(*nums)
    added = num1 + num2
    
    for i in nums:    
        added += i
        
    print(added)

In [90]:
add(3,4,5,6)

3
4
5 6
18

### Working with Flexible Number of Arguments with **

In [83]:
def add(num1, num2, **nums):
    print(num1)
    print(num2)
    print(nums)

In [84]:
add(3,4,5,6)

TypeError: add() takes 2 positional arguments but 4 were given

In [85]:
add(3,4, num3=5, num4=6)

3
4
{'num3': 5, 'num4': 6}

In [91]:
def add(num1, num2, **nums):
    print(num1)
    print(num2)
    print(nums)
    added = num1 + num2
    for key, value in nums.items():
        added += value
    print(added)

In [92]:
add(3,4, num3=5, num4=6)

3
4
{'num3': 5, 'num4': 6}
18