In [6]:
countries = ["Atlanta", "Baltimore", "Chicago", "Denver"]

In [2]:
countries

['Atlanta', 'Baltimore', 'Chicago', 'Denver']

In [26]:
bio_data = ['Qasim', 'Hassan', 10, 40.3, False, '4321-1234567-0']

# 1 Appending values in List

In [3]:
countries = countries + ["Seattle", "Los Angeles"]

In [4]:
countries

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Seattle', 'Los Angeles']

In [5]:
larger_countries_list = countries + ["New York"]

larger_countries_list = countries + ["New York"]
       NAME             old_list  +   new_list

In [6]:
larger_countries_list

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Seattle',
 'Los Angeles',
 'New York']

In [7]:
type(larger_countries_list)

list

In [8]:
countries

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Seattle', 'Los Angeles']

In [9]:
countries.append("New York")

In [10]:
countries

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Seattle',
 'Los Angeles',
 'New York']

In [11]:
countries.insert(0, 'Pakistan')

### 1.1 Slicing

In [12]:
countries

['Pakistan',
 'Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Seattle',
 'Los Angeles',
 'New York']

In [14]:
# 1 2 3 4 -> 1 (inlude), 4 (exclude)
# index starts from 0
sliced_list = countries[1:4]

In [15]:
sliced_list

['Atlanta', 'Baltimore', 'Chicago']

In [18]:
sliced_list = countries[:8]

In [19]:
sliced_list

['Pakistan',
 'Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Seattle',
 'Los Angeles',
 'New York']

In [24]:
# -2, -3, -4
sliced_list = countries[-4:-2]

In [25]:
sliced_list

['Denver', 'Seattle']

### 1.2 Deleting Values in LIst

In [27]:
bio_data

['Qasim', 'Hassan', 10, 40.3, False, '4321-1234567-0']

In [28]:
del bio_data[5]

In [29]:
bio_data

['Qasim', 'Hassan', 10, 40.3, False]

In [30]:
bio_data.remove('Hassan')

In [31]:
bio_data

['Qasim', 10, 40.3, False]

In [32]:
bio_data.remove('Ali')

ValueError: list.remove(x): x not in list

### 1.2.1 Popping Elements from List

In [33]:
daily_task = ["email Frank", "call Sarah", "meet with Zach"]

In [36]:
daily_task.pop(1)

'call Sarah'

In [37]:
daily_task

['email Frank', 'meet with Zach']

In [35]:
task_completed = []

In [38]:
task_completed = task_completed + list(daily_task.pop(1))

In [39]:
task_completed

['m', 'e', 'e', 't', ' ', 'w', 'i', 't', 'h', ' ', 'Z', 'a', 'c', 'h']

In [40]:
daily_task = ["email Qasim", "call Ali", "meet with Hassan"]

In [41]:
task_completed = []

In [42]:
task_completed.insert(0, daily_task.pop())

In [43]:
task_completed

['meet with Hassan']

In [44]:
countries

['Pakistan',
 'Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Seattle',
 'Los Angeles',
 'New York']

In [45]:
countries[1] = 'something new'

In [46]:
countries

['Pakistan',
 'something new',
 'Baltimore',
 'Chicago',
 'Denver',
 'Seattle',
 'Los Angeles',
 'New York']

### 1.3 Tuples

In [47]:
tuple_bio_data = ('Qasim', 'Hassan', 10, 40.3, False, '4321-1234567-0')

In [48]:
tuple_bio_data

('Qasim', 'Hassan', 10, 40.3, False, '4321-1234567-0')

In [49]:
type(tuple_bio_data)

tuple

In [50]:
tuple_bio_data[1]

'Hassan'

In [51]:
tuple_bio_data[1:]

('Hassan', 10, 40.3, False, '4321-1234567-0')

In [52]:
tuple_bio_data[1] = 'Mehmood'

TypeError: 'tuple' object does not support item assignment

In [53]:
tuple_bio_data.count('Qasim')

1

In [54]:
tuple_bio_data.index('Hassan')

1

### 2 for Loops

In [5]:
countries

NameError: name 'countries' is not defined

searching_country = "Pakistan"

if searching_country = countries[0]:
    print("yes, Pakistan is available")
elif searching_country = countries[1]:
    print("yes, Pakistan is available")

In [13]:
for temp in countries:
    if temp == "Pakistan":\
    print("Pakistan Zindabad")
else:
    print("Not Available")

Not Available

In [12]:
for temp in countries:
    print(temp)

Atlanta
Baltimore
Chicago
Denver

In [16]:
year = input("Enter a Year: ")

if (year % 400 == 0) and (year % 100 == 0) or (year % 4 == 0):
    print(f"{year} is a leap year")
else:
    print(f"{year} is not a leap year")

Enter a Year: 1700

TypeError: not all arguments converted during string formatting

In [60]:
for temp in [1600, 1700, 1800, 1900, 2000]:
    print(temp)
    print('loop cycle end')

1600
loop cycle end
1700
loop cycle end
1800
loop cycle end
1900
loop cycle end
2000
loop cycle end

In [ ]:
for temp in [1600, 1700, 1800, 1900, 2000]:
    print(temp)
    print('loop cycle end')

# Generator Fractions

range(10): 1-2, 3
    
1, 2, 3

In [11]:
# range(start, end, step)
for i in range(10, 20, 2):
    print(i)

10
12
14
16
18

In [25]:
cleanest_cities = ["Cheyenne", "Santa Fe", "Tucson", "Great Falls", "Honolulu"]

In [28]:
city_to_check = cleanest_cities[1]

In [29]:
if city_to_check == cleanest_cities[0]:
    print("It's one of the cleanest cities")
elif city_to_check == cleanest_cities[1]:
    print("It's one of the cleanest cities")
elif city_to_check == cleanest_cities[2]:
    print("It's one of the cleanest cities")
elif city_to_check == cleanest_cities[3]:
    print("It's one of the cleanest cities")
elif city_to_check == cleanest_cities[4]:
    print("It's one of the cleanest cities")
else:
    print("Not Available")

It's one of the cleanest cities