In [3]:
#1
s = "hello, python!"
print(s[-14:15])

hello, python!

In [8]:
#2
s = 0
for d in range (0, 5, 0.1):
s += d
print(s)

IndentationError: expected an indented block after 'for' statement on line 2 (3947563375.py, line 3)

In [9]:
#3
country="pakistan"
independence_day=1947
print(country+independence_day)

TypeError: can only concatenate str (not "int") to str

In [10]:
#4
number = 1 + 2 * 3 / 4
print(number)

2.5

In [21]:
#5
mylist = [11, 22, 33, 44, 55, 66, 77, 88, 99]
mylist [::-1]

[99, 88, 77, 66, 55, 44, 33, 22, 11]

In [26]:
#6
d0 = {'a':1, 'b':2}
d1 = {'a':3, 'b':4}
d1 > d0

TypeError: '>' not supported between instances of 'dict' and 'dict'

In [34]:
#7
for l in "johan":
    if l=="o":
        pass
    print(l, end=",")

j,o,h,a,n,

In [35]:
#8
name = "Saylani"
name[0]=s
print(name)

TypeError: 'str' object does not support item assignment

In [36]:
#9
10//3

3

In [44]:
#10
alist = [0,1,5,2,3,4,5]
print(alist)
del alist[2]
print(alist)

[0, 1, 5, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5]

In [46]:
#11
numbers = [10, 20]
items = ["chair", "table"]
for x in numbers:
    for y in items:
        print(x,y)

10 chair
10 table
20 chair
20 table

In [50]:
#12
favorite_languages = {'jen':'python', 'sarah':'c', 'edward':'ruby', 'phil':'python',}
print(type(favorite_languages['jen']))

<class 'str'>

In [51]:
#13
list = ['abcd', 786, 2.23, 'john', 70.2]
print(list[1:3])

[786, 2.23]

In [52]:
#14
val = 100
type(val)

int

In [57]:
#15
print(8/4/2) and print(8/(4/2))

1.0

In [58]:
print(8/4/2,8/(4/2))

1.0 4.0

In [61]:
#16 In Python, a class is ____________ of a concrete object.
#---->   blueprint

In [70]:
#17
a = 0
b = a ** 0
if b < a + 1:
    c = 1
elif b == 1:
    c = 2
else:
    c = 3
print(a+b+c)


print(0 ** 0)

3
1

In [73]:
#18
print(2**(3**2)) 

print((2**3)**2) 

print(2**3**2)

512
64
512

In [75]:
#19
x = 0
y = 2
z = len("python")
x = y > z
print(x)

False

In [76]:
#20
print("languages:\npython\nc\njavascript")

languages:
python
c
javascript

#21 Choose the correct function declaration of fun1() so that we can execute the following function call successfully.

'''
fun1(25, 75, 55)
fun1(10, 20)

'''

# def fun1(*data)

In [82]:
#22
dict = {'a':1, 'b':2, 'c':3}
for item in dict:
    print(item)

a
b
c

In [93]:
#23

print('peter\'s sister\'s name\'s \"anna\"')

peter's sister's name's "anna"

In [94]:
print("peter's sister's name's "anna"")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1323499096.py, line 1)

In [95]:
print('peter's sister's name's "anna"')

SyntaxError: unterminated string literal (detected at line 1) (427498705.py, line 1)

In [96]:
print("peter's sister's name's \"anna\"")

peter's sister's name's "anna"

In [97]:
#24
even_numbers = [2, 4, 6, 8]
odd_numbers = [1, 3, 5, 7]
all_numbers = odd_numbers + even_numbers
print(all_numbers)

[1, 3, 5, 7, 2, 4, 6, 8]

In [98]:
#25
favorite_languages = {'jen':'python', 'sarah':'c', 'edward':'ruby', 'phil':'python',}
favorite_languages[0] = "java"
print(favorite_languages)

{'jen': 'python', 'sarah': 'c', 'edward': 'ruby', 'phil': 'python', 0: 'java'}

In [100]:
#26
s = 'python'
for i in range(len(s)):
    i = s[i].upper()
print(s, end="")

python

In [101]:
#27
b = [11, 13, 15, 17, 19]
print(b[::2])

[11, 15, 19]

In [102]:
#28
def fun1(name, age=20):
    print(name, age)
    
fun1('Emma', 25)

Emma 25

In [103]:
#29
x = "20"
y = "30"
print(x > y)

False

In [104]:
#30
x = 0
a = 5
b = 5
if a > 0:
    if b < 0:
        x = x + 5
    elif a > 5:
        x = x + 4
    else:
        x = x + 3
else:
    x = x + 2
print(x)

3

In [107]:
#31
def outer_fun(a, b):
    def inner_fun(c, d):
        return c + d
    
    return inner_fun(a, b)
    return a

result = outer_fun(5, 10)
print(result)

15

In [109]:
#32
class Dog:
    def walk(self):
        return "*Walking*"
    def speak(self):
        return "Woof!"
    
class JackRussellTerrier(Dog):
    def speak(self):
        return "Arff!"
bobo = JackRussellTerrier()
bobo.walk()

'*Walking*'

In [110]:
#33
student_name = input()
students_marks = input()
print('Dear'+ student_name + 'your marks are' + students_marks)

# if student name supplied is Asad and marks supplied are 50.

Asad
50
DearAsadyour marks are50

In [111]:
#34
print(type(1/2))

<class 'float'>

In [114]:
#35
2 ** 3 ** 2**1

512

In [126]:
#36
lst1 = "12,34"
lst2 = lst1.split(',')
print(len(lst1) < len(lst2))

False

In [127]:
#37
lst = ["a", "b", "c", 2, 4]
del lst[0:-2]
print(lst)

[2, 4]

In [129]:
#38
class Dog:
    def walk(self):
        return "*Walking*"
    def speak(self):
        return "Woof!"
    
class JackRussellTerrier(Dog):
    def speak(self):
        return "Arff!"
bobo = JackRussellTerrier()
bobo.speak()

'Arff!'