In [1]:
print("Hello, World")

Hello, World

In [2]:
name = "Qasim"

In [3]:
name

'Qasim'

In [4]:
print(name)

Qasim

In [5]:
saylani = "Hassan"

In [6]:
saylani

'Hassan'

In [7]:
name = "ALI"

In [8]:
name

'ALI'

In [12]:
first_name1 = "Qasim"
last_name1 = "Hassan"

In [13]:
last1_name = "Hassan"

## 1 Summary Variables:


--space can't be in two variable name instead of space we use _ eg: first_name

--number can be in the last of variable eg: first_name1

--number can't be in the start of variable name  eg: 1first_name