In [1]:
countries = ["Atlanta", "Baltimore", "Chicago", "Denver"]

In [2]:
countries

['Atlanta', 'Baltimore', 'Chicago', 'Denver']

In [3]:
bio_data = ['Qasim', 'Iqbal', 10, 40.3, False, '4321-1234567-0']

# 1 Appending values in List

In [4]:
countries = countries + ["Seattle", "Los Angeles"]

In [5]:
countries

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Seattle', 'Los Angeles']

In [6]:
larger_countries_list = countries + ["New York"]

larger_countries_list = countries + ['New York']
  NAME                  old_list  +  new_list

In [7]:
larger_countries_list

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Seattle',
 'Los Angeles',
 'New York']

In [8]:
type(larger_countries_list)

list

In [9]:
countries

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Seattle', 'Los Angeles']

In [10]:
countries.append("New York")

In [11]:
countries

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Seattle',
 'Los Angeles',
 'New York']

In [12]:
countries.insert(0, 'Pakistan')

### 1.1 Slicing

In [13]:
countries

['Pakistan',
 'Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Seattle',
 'Los Angeles',
 'New York']

In [14]:
# 1 2 3 4 -> 1 (inlude), 4 (exclude)
# index starts from 0
sliced_list = countries[1:4]

In [15]:
sliced_list

['Atlanta', 'Baltimore', 'Chicago']

In [16]:
sliced_list = countries[:8]

In [17]:
sliced_list

['Pakistan',
 'Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Seattle',
 'Los Angeles',
 'New York']

In [18]:
# -2, -3, -4
sliced_list = countries[-4:-2]

In [19]:
sliced_list

['Denver', 'Seattle']

### 1.2 Deleting Values from List

In [20]:
bio_data

['Qasim', 'Iqbal', 10, 40.3, False, '4321-1234567-0']

In [21]:
del bio_data[5]

In [22]:
bio_data

['Qasim', 'Iqbal', 10, 40.3, False]

In [23]:
bio_data.remove('Iqbal')

In [24]:
bio_data

['Qasim', 10, 40.3, False]

In [25]:
bio_data.remove('Ali')

ValueError: list.remove(x): x not in list

### 1.2.1 Popping Elements from List

In [26]:
daily_task = ["email Frank", "call Sarah", "meet with Zach"]

In [27]:
daily_task.pop(1)

'call Sarah'

In [28]:
daily_task

['email Frank', 'meet with Zach']

In [29]:
task_completed = []

In [30]:
task_completed = task_completed + list(daily_task.pop(1))

In [31]:
task_completed

['m', 'e', 'e', 't', ' ', 'w', 'i', 't', 'h', ' ', 'Z', 'a', 'c', 'h']

In [32]:
daily_task = ["email Qasim", "call Ali", "meet with Hassan"]

In [33]:
task_completed = []

In [34]:
daily_task

['email Qasim', 'call Ali', 'meet with Hassan']

In [35]:
task_completed

[]

In [36]:
task_completed.insert(0, daily_task.pop())

In [37]:
task_completed

['meet with Hassan']

In [38]:
countries

['Pakistan',
 'Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Seattle',
 'Los Angeles',
 'New York']

In [39]:
countries[1] = 'something new'

In [40]:
countries

['Pakistan',
 'something new',
 'Baltimore',
 'Chicago',
 'Denver',
 'Seattle',
 'Los Angeles',
 'New York']

### 1.3 Tuples

In [41]:
tuple_bio_data = ('Qasim', 'Iqbal', 10, 40.3, False, '4321-1234567-0')

In [42]:
tuple_bio_data

('Qasim', 'Iqbal', 10, 40.3, False, '4321-1234567-0')

In [43]:
type(tuple_bio_data)

tuple

In [44]:
tuple_bio_data[1]

'Iqbal'

In [45]:
tuple_bio_data[1:]

('Iqbal', 10, 40.3, False, '4321-1234567-0')

In [46]:
tuple_bio_data[1] = 'Mehmood'

TypeError: 'tuple' object does not support item assignment

In [47]:
tuple_bio_data.count('Qasim')

1

In [48]:
tuple_bio_data.index('Iqbal')

1

### 2 for Loops

In [49]:
countries

['Pakistan',
 'something new',
 'Baltimore',
 'Chicago',
 'Denver',
 'Seattle',
 'Los Angeles',
 'New York']

searching_country = "Pakistan"

if searching_country = countries[0]:
    print("yes, Pakistan is available")
elif searching_country = countries[1]:
    print("yes, Pakistan is available")

In [50]:
for temp in countries:
    if temp == "Pakistan":\
    print("Pakistan Zindabad")
else:
    print("Not Available")

Pakistan Zindabad
Not Available

In [51]:
for temp in countries:
    print(temp)

Pakistan
something new
Baltimore
Chicago
Denver
Seattle
Los Angeles
New York

In [52]:
year = int(input("Enter a Year: "))

if (year % 400 == 0) and (year % 100 == 0) or (year % 4 == 0):
    print(f"{year} is a leap year")
else:
    print(f"{year} is not a leap year")

1700 is a leap year

In [53]:
for temp in [1600, 1700, 1800, 1900, 2000]:
    print(temp)
    print('loop cycle end')

1600
loop cycle end
1700
loop cycle end
1800
loop cycle end
1900
loop cycle end
2000
loop cycle end

In [54]:
for year in [1600, 1700, 1800, 1900, 2000]:
    
    if (year % 4 ==0) and (year % 100 ==0) or (year % 400 ==0):
        print(f"{year} is a leap year")
    else:
        print(f"{year} is not leap year")

1600 is a leap year
1700 is a leap year
1800 is a leap year
1900 is a leap year
2000 is a leap year

# Generator Functions

range(10): 1-9, 3
    
1, 2, 3

In [55]:
range(10)

range(0, 10)

In [56]:
for i in range(0, 10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [57]:
# range(start, end)
for i in range(10, 15):
    print(i)

10
11
12
13
14

In [58]:
# range(start, end, step)
for i in range(10, 20, 2):
    print(i)

10
12
14
16
18

In [59]:
cleanest_cities = ["Cheyenne", 
                   "Santa Fe", 
                   "Tucson", 
                   "Great Falls", 
                   "Honolulu"]

In [60]:
city_to_check = cleanest_cities[1]

In [61]:
if city_to_check == cleanest_cities[0]:
    print("It's one of the cleanest cities")
elif city_to_check == cleanest_cities[1]:
    print("It's one of the cleanest cities")
elif city_to_check == cleanest_cities[2]:
    print("It's one of the cleanest cities")
elif city_to_check == cleanest_cities[3]:
    print("It's one of the cleanest cities")
elif city_to_check == cleanest_cities[4]:
    print("It's one of the cleanest cities")
else:
    print("Not Available")

It's one of the cleanest cities

In [62]:
for a_clean_city in cleanest_cities:
    if city_to_check == a_clean_city:
        print("It's one of the cleanest cities")

It's one of the cleanest cities