In [10]:
countries = ["Atlanta", "Baltimore", "Chicago", "Denver"]

In [2]:
countries

['Atlanta', 'Baltimore', 'Chicago', 'Denver']

In [146]:
bio_data = ["Qasim", "Hassan", 18, 40.5, False, "4321-234567-0"]

## Appending values in List

In [11]:
countries = countries + ["seattle", "Los Angles"]

In [5]:
countries

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'seattle', 'Los Angles']

In [28]:
larger_countries_list = countries + ['New York']

larger_countries_list = countries + ['New York']
  NAME                  old_list  +  new_list

In [52]:
larger_countries_list

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'seattle',
 'Los Angles',
 'New York']

In [30]:
type(larger_countries_list)

list

In [53]:
countries

['Pakistan',
 'Dallas',
 'Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'seattle',
 'Los Angles',
 'New York']

In [ ]:
countries.copy()

In [131]:
new_countries_list += ['New York']

In [132]:
print(new_countries_list)

['Atlantis', 'Pakistan', 'Los Angles', 'Denver', 'Dallas', 'Chicago', 'Baltimore', 'New York']

In [ ]:
countries.extend()

In [133]:
countries

['Atlantis',
 'Pakistan',
 'Los Angles',
 'Denver',
 'Dallas',
 'Chicago',
 'Baltimore']

### Slicing

In [135]:
countries

['Atlantis',
 'Pakistan',
 'Los Angles',
 'Denver',
 'Dallas',
 'Chicago',
 'Baltimore']

In [136]:
# 1 2 3 4 -> 1(include), 4(exclude)
# index starts from 0 
slicedlist = countries[1:4]

In [137]:
slicedlist

['Pakistan', 'Los Angles', 'Denver']

In [138]:
slicedlist = countries[:4]

In [139]:
slicedlist

['Atlantis', 'Pakistan', 'Los Angles', 'Denver']

In [140]:
slicedlist = countries[1:]

In [141]:
slicedlist

['Pakistan', 'Los Angles', 'Denver', 'Dallas', 'Chicago', 'Baltimore']

In [142]:
slicedlist = countries[:]

In [143]:
slicedlist

['Atlantis',
 'Pakistan',
 'Los Angles',
 'Denver',
 'Dallas',
 'Chicago',
 'Baltimore']

In [144]:
# -1, -2, -3, 
slicedlist = countries[-3:]

In [145]:
slicedlist

['Dallas', 'Chicago', 'Baltimore']

### Deleting Values from List

In [148]:
countries

['Atlantis',
 'Pakistan',
 'Los Angles',
 'Denver',
 'Dallas',
 'Chicago',
 'Baltimore']

In [149]:
bio_data

['Qasim', 'Hassan', 18, 40.5, False, '4321-234567-0']

In [150]:
del bio_data[5]

In [151]:
bio_data

['Qasim', 'Hassan', 18, 40.5, False]

In [152]:
bio_data.remove('Hassan')

In [153]:
bio_data

['Qasim', 18, 40.5, False]

In [154]:
bio_data.remove('Ali')

ValueError: list.remove(x): x not in list

#### Popping Elements from List

In [164]:
daily_task = ["email Frank", "call Sarah", "meet with Zach"]

In [165]:
daily_task.pop(1)

'call Sarah'

In [166]:
daily_task

['email Frank', 'meet with Zach']

In [167]:
task_completed = []

In [168]:
task_completed =  task_completed + list(daily_task.pop(1))

In [169]:
task_completed

['m', 'e', 'e', 't', ' ', 'w', 'i', 't', 'h', ' ', 'Z', 'a', 'c', 'h']

In [170]:
daily_task = ["email Qasim", "call Ali", "meet with Hassan"]

In [171]:
task_completed = []

In [172]:
daily_task

['email Qasim', 'call Ali', 'meet with Hassan']

In [173]:
task_completed

[]

In [174]:
task_completed.insert(0, daily_task.pop(1))

In [175]:
task_completed

['call Ali']

In [64]:
first_name = "Qasim"

In [65]:
first_name = "Ali"

In [66]:
first_name

'Ali'

In [177]:
countries

['Atlantis',
 'Pakistan',
 'Los Angles',
 'Denver',
 'Dallas',
 'Chicago',
 'Baltimore']

In [12]:
countries[1] = "something new"

In [13]:
countries

['Atlanta', 'something new', 'Chicago', 'Denver', 'seattle', 'Los Angles']

### Tuples

In [14]:
tuple_bio_data = ("Qasim", "Hassan", 18, 40.5, False, "4321-234567-0")

In [15]:
tuple_bio_data

('Qasim', 'Hassan', 18, 40.5, False, '4321-234567-0')

In [16]:
type(tuple_bio_data)

tuple

In [17]:
tuple_bio_data[1]

'Hassan'

In [18]:
tuple_bio_data[1:]

('Hassan', 18, 40.5, False, '4321-234567-0')

In [19]:
tuple_bio_data

('Qasim', 'Hassan', 18, 40.5, False, '4321-234567-0')

In [20]:
tuple_bio_data.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

In [21]:
tuple_bio_data[1] = "Mehmood"

TypeError: 'tuple' object does not support item assignment

In [22]:
tuple_bio_data.count('Qasim')

1

In [23]:
tuple_bio_data.index('Hassan')

1

## for loops

In [24]:
countries

['Atlanta', 'something new', 'Chicago', 'Denver', 'seattle', 'Los Angles']

searching_country = "Pakistan"

if searching_country == countries[0]:
    print("yes, Pakistan is available")
elif searching_country == countries[1]:
    print("yes, Pakistan is available")

In [25]:
for temp in countries:
    if temp == "something new":
        print("Pakistan Zindabad")
    else:
        print('Not availbale')

Not availbale
Pakistan Zindabad
Not availbale
Not availbale
Not availbale
Not availbale

In [34]:
year = int(input("Enter a Year: "))

if (year % 4 ==0) or (year % 100 ==0) or (year % 400 ==0):
    print(f"{year} is a leap year")
else:
    print(f"{year} is not leap year")

Enter a Year: 1800
1800 is a leap year

In [35]:
for temp in [1600, 1700, 1800, 1900, 2000]:
    print(temp)
    print('loop cycle end')

1600
loop cycle end
1700
loop cycle end
1800
loop cycle end
1900
loop cycle end
2000
loop cycle end

In [41]:
for year in [1600, 1700, 1800, 1900, 2000]:
    
    if (year % 4 ==0) and (year % 100 ==0) or (year % 400 ==0):
        print(f"{year} is a leap year")
    else:
        print(f"{year} is not leap year")

1600 is a leap year
1700 is a leap year
1800 is a leap year
1900 is a leap year
2000 is a leap year

In [ ]:
# Generator Function

range(10): 1-9, 3
    
1, 2, 3

In [93]:
range(10)

range(0, 10)

In [105]:
for i in range(0, 10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [94]:
# range(start, end)
for i in range(10, 15):
    print(i)

10
11
12
13
14

In [95]:
# range(start, end, step)
for i in range(10, 20, 2):
    print(i)

10
12
14
16
18

In [42]:
cleanest_cities = ["Cheyenne",
                   "Santa Fe",
                   "Tucson",
                   "Great Falls",
                   "Honolulu"]

In [103]:
city_to_check = "Santa Fe"

if city_to_check == cleanest_cities[0]:
    print("It's one of the cleanest cities")
elif city_to_check == cleanest_cities[1]:
    print("It's one of the cleanest cities")
elif city_to_check == cleanest_cities[2]:
    print("It's one of the cleanest cities")
elif city_to_check == cleanest_cities[3]:
    print("It's one of the cleanest cities")
elif city_to_check == cleanest_cities[4]:
    print("It's one of the cleanest cities")
else:
    print("Not Available")

It's one of the cleanest cities

In [104]:
for a_clean_city in cleanest_cities:
    if city_to_check == a_clean_city:
        print("It's one of the cleanest cities")

It's one of the cleanest cities