In [11]:
list1 = ["Cat", "Banana", "Dog", "Apple" ]

In [5]:
list1

['A', 'Banana', 'Dog', 'D']

In [6]:
list2 = list1.copy()

In [7]:
list2

['A', 'Banana', 'Dog', 'D']

In [8]:
id(list1)

2365845112960

In [9]:
id(list2)

2365845443328

# 1 Loops

In [15]:
for temp_var in list1:
    if temp_var == "Dog":
        print("found DOG in list")
        break
    else:
        print("Not Found")

Not Found
Not Found
found DOG in list

In [16]:
for temp_var in list1:
    if temp_var == "Dog":
        print("found DOG in list")
    else:
        print("Not Found")

Not Found
Not Found
found DOG in list
Not Found

In [17]:
for temp_var in list1:
    if temp_var == "Dog":
        continue
        print("found DOG in list")
    else:
        print("Not Found")

Not Found
Not Found
Not Found

In [18]:
for temp in range(10):
    print(temp)

0
1
2
3
4
5
6
7
8
9

In [19]:
for temp in range(1, 11):
    print(temp)

1
2
3
4
5
6
7
8
9
10

In [20]:
for temp in range(1, 11):
    print(f"2 x {temp} = {temp * 2}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [21]:
for temp in range(1, 11):
    print(f"2 x {temp} = {temp * 2}")
    print(f"3 x {temp} = {temp * 3}")
    print(f"4 x {temp} = {temp * 4}")
    print(f"5 x {temp} = {temp * 5}")

2 x 1 = 2
3 x 1 = 3
4 x 1 = 4
5 x 1 = 5
2 x 2 = 4
3 x 2 = 6
4 x 2 = 8
5 x 2 = 10
2 x 3 = 6
3 x 3 = 9
4 x 3 = 12
5 x 3 = 15
2 x 4 = 8
3 x 4 = 12
4 x 4 = 16
5 x 4 = 20
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
2 x 6 = 12
3 x 6 = 18
4 x 6 = 24
5 x 6 = 30
2 x 7 = 14
3 x 7 = 21
4 x 7 = 28
5 x 7 = 35
2 x 8 = 16
3 x 8 = 24
4 x 8 = 32
5 x 8 = 40
2 x 9 = 18
3 x 9 = 27
4 x 9 = 36
5 x 9 = 45
2 x 10 = 20
3 x 10 = 30
4 x 10 = 40
5 x 10 = 50

In [22]:
f"2 x {1} = {1 * 2}"

'2 x 1 = 2'

In [23]:
"2 x " + str(1) + "="

'2 x 1='

In [25]:
for temp in range(2, 6):
    print(f"Table of {temp}")
    for temp_2 in range(1, 11):
        print(f"{temp} * {temp_2} = {temp * temp_2}")

Table of 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
Table of 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
Table of 4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
Table of 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [28]:
"cat".upper()

'CAT'

In [33]:
list1

['Cat', 'Banana', 'Dog', 'Apple']

In [32]:
list_upper = list1.upper()

AttributeError: 'list' object has no attribute 'upper'

In [36]:
list_upper = []

In [35]:
list_upper = list(0).upper()

TypeError: 'int' object is not iterable

In [42]:
list_upper = []
for temp in list1:
    list_upper.append(temp.upper())

In [43]:
list_upper

['CAT', 'BANANA', 'DOG', 'APPLE']

In [44]:
list_lower = []
for temp in list1:
    list_lower.append(temp.lower())

In [45]:
list_lower

['cat', 'banana', 'dog', 'apple']

In [46]:
"cat".title()

'Cat'

In [47]:
first_names = ["BlueRay ", "Upchuck ", "Lojack ", "Gizmo ", "Do-Rag "]
last_names = ["Zzz", "Burp", "Dogbone", "Droop"]
full_names = []
for a_first_name in first_names:
    for a_last_name in last_names:
        full_names.append(a_first_name + " " + a_last_name)

In [48]:
full_names

['BlueRay  Zzz',
 'BlueRay  Burp',
 'BlueRay  Dogbone',
 'BlueRay  Droop',
 'Upchuck  Zzz',
 'Upchuck  Burp',
 'Upchuck  Dogbone',
 'Upchuck  Droop',
 'Lojack  Zzz',
 'Lojack  Burp',
 'Lojack  Dogbone',
 'Lojack  Droop',
 'Gizmo  Zzz',
 'Gizmo  Burp',
 'Gizmo  Dogbone',
 'Gizmo  Droop',
 'Do-Rag  Zzz',
 'Do-Rag  Burp',
 'Do-Rag  Dogbone',
 'Do-Rag  Droop']

In [50]:
table_start = int(input("Want to print Table From: "))
table_end = int(input("Want to print Table till: "))
table_length = int(input("How many time you want to print: "))

for temp in range(table_start, table_end):
    print(f"Table of {temp}")
    for temp_2 in range(1, table_length+1):
        print(f"{temp} * {temp_2} = {temp * temp_2}")

Want to print Table From: 2
Want to print Table till: 7
How many time you want to print: 5
Table of 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
Table of 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
Table of 4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
Table of 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
Table of 6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30

In [ ]:
"".upper

In [52]:
name = input("Enter Your Name: ")
father_name = input("Enter Your Father Name: ")
cnic_no = input("Enter Your CNIC Number: ")
course = input("Enter Course you're Enrolled In: ")

print(f"    ")
print(f"    ")
print(f"    ")
print(f"**********SAYLANI (SMIT)**************")
print(f"NAME: {name}")
print(f"FATHER NAME: {father_name}")
print(f"CNIC: {cnic_no}")
print(f"COURSE: {course}")
print(f"***************************************")

Enter Your Name: Muhammad Qasim
Enter Your Father Name: Muhammad Iqbal Hussain
Enter Your CNIC Number: 423216512316553
Enter Course you're Enrolled In: Python



**********SAYLANI (SMIT)**************
NAME: Muhammad Qasim
FATHER NAME: Muhammad Iqbal Hussain
CNIC: 423216512316553
COURSE: Python
***************************************

In [56]:
name = input("Enter Your Name: ")
father_name = input("Enter Your Father Name: ")
cnic_no = input("Enter Your CNIC Number: ")
course = input("Enter Course you're Enrolled In: ")

print(f"    ")
print(f"    ")
print(f"    ")
print(f"**********SAYLANI (SMIT)**************")
print("NAME: {0} {1}".format(name, father_name))
print("FATHER NAME: {0}".format(father_name))
print("CNIC: {0}".format(cnic_no))
print("COURSE: {0}".format(course))
print(f"***************************************")

Enter Your Name: QASIM
Enter Your Father Name: IQBAL
Enter Your CNIC Number: 51351318138
Enter Course you're Enrolled In: PYYTHON



**********SAYLANI (SMIT)**************
NAME: QASIM IQBAL
FATHER NAME: IQBAL
CNIC: 51351318138
COURSE: PYYTHON
***************************************

In [ ]:
"".format

In [60]:
# single print is used
# \n for next line
# \ for line continue
name = input("Enter Your Name: ")
father_name = input("Enter Your Father Name: ")
cnic_no = input("Enter Your CNIC Number: ")
course = input("Enter Course you're Enrolled In: ")


print(f"**********SAYLANI (SMIT)**************\n NAME: {0} \n FATHER NAME: {1} \
\n CNIC: {2} \n COURSE: {3}".format(name, father_name, cnic_no, course)")

SyntaxError: unterminated string literal (detected at line 11) (1861604685.py, line 11)